:root {
  /*Colors*/
  --background-color: #00030c;
  --text-color: #d5d7d8;
  --gray-color: #42464d;
  --footer-gray:#212121;
  --white-color:white;
  --black-color:black;

  /*****************************************************************/

  /* Core sizes */
  --font-caption: 0.75rem;     /* 12px - fine print, metadata */
  --font-small: 0.875rem;      /* 14px - buttons, badges */
  --font-body: 1rem;           /* 16px - paragraph/default */
  --font-body-lg: 1.125rem;    /* 18px - large body/labels */

  /* Titles & Emphasis */
  --font-subtitle: 1.25rem;    /* 20px - card titles, secondary headings */
  --font-title: 1.5rem;        /* 24px - section headers */
  --font-heading: 2rem;        /* 32px - page headers */
  --font-hero: 3rem;           /* 48px - landing banners/hero areas */

  /* Optional extras */
  --font-display: 4rem;        /* 64px - very large banner text (e.g., Featured Movie Title) */
}

/*****************************************************************/

.blury-grey {
  /* for the cards */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(20, 20, 20, 0.7);
  border: none;
  box-shadow: none;
}

.blury-grey-old {
  background-color: rgba(66, 70, 77, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
