
:root {
  /*Colors*/
  --background-color: #00030c;
  --text-color: #d5d7d8;
  --gray-color: #42464d;
}


.blury-grey {
  /* for the cards */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: rgba(20, 20, 20, 0.7);
  border: none;
  box-shadow: none;
}

.blury-grey-old {
  background-color: rgba(66, 70, 77, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
