.container-fluid {
  background: var(--background-color);
  /* Netflix-like dark */
  min-height: 100vh;
  /* Make sure it covers the whole viewport */
}

.video-container {
  width: 80vw;
  max-width: 500vh;
}