/* saved data selection background and text color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgb(59, 59, 59) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}


/* Make login card wider */
.login-card {
  max-width: 400px; /* زودنا العرض */
  padding: 6rem 4rem;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  animation: slideUp 0.8s ease-in-out;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* Adjust input style */
.login-input {
  height: 3.5rem; /* أطول input */
  background-color: rgba(255, 255, 255, 0.07) !important;
  color: var(--text-color) !important;
  border: none;
  border-radius: 10px;
  padding: 1rem 0.75rem;
  font-size: 1rem;
}
.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--text-color) !important;
  margin-bottom: 1.5rem;
  padding-bottom: 2rem;
}

.login-input::placeholder {
  color: transparent; /* يخفي الـ placeholder عشان floating label */
}

.login-input:focus {
  border: var(--text-color) solid 1px;
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: var(--text-color) !important;
  box-shadow: 0 0 2px var(--gray-color);
}

/* Label styling */
.form-floating > label {
  color: #ccc;
  padding-left: 0.75rem;
  font-size: 0.9rem;
}

/* Footer */
.login-footer {
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-color);
  margin-top: 1.5rem;
}

.login-footer a {
  color: #ffffff;
  text-decoration: underline;
  transition: color 0.3s;
}

.login-footer a:hover {
  color: #999;
}

/* Animation */
@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Responsive */
@media (max-width: 480px) {
  .login-card {
    padding: 3rem 1.5rem;
    max-width: 95%;
  }

  .login-input {
    height: 3rem;
  }
}
