.search-wrapper {
    min-height: 95vh;
   padding: 1.5rem 2rem 18rem 2rem;
  background-color: var(--background-color);
}

.search-title {
  padding-top: 50px;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}

.search-grid {
   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); /* auto-fill instead of auto-fit */
  gap: 1.5rem;
  align-items: start;
  justify-items: start; 
  padding: 1rem 0;
}



