/* Fullscreen layout */
.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4.5rem !important;
  width: 100%;
  min-height: 95vh;
 background-color: var(--background-color);
}

/* Fixed shape box */
.genre-box {
  width: 19rem;                   /* fixed width */
  height: 10rem;                   /* fixed height */
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

