<div class="series-page-container">
  <app-carousel title="Recommended Series" [movies]="series"></app-carousel>
  <app-carousel title="Top Rated Series" [movies]="topRatedSeries"></app-carousel>
  <app-carousel title="Latest Series" [movies]="LatestSeries"></app-carousel>

  <!-- Dynamic Genre Carousels -->
  <ng-container *ngFor="let genre of genres">
    <app-carousel
      *ngIf="genreSeriesMap[genre.genreId]?.length"
      [title]="genre.name"
      [movies]="genreSeriesMap[genre.genreId]">
    </app-carousel>
  </ng-container>
</div>
