.watchlist-wrapper {
  min-height: 95vh;
   padding: 4.5rem 2rem 18rem 2rem;
  background-color: var(--background-color);
}

.watchlist-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

/* Grid version */
.watchlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); /* auto-fill instead of auto-fit */
  gap: 1.5rem;
  align-items: start;
  justify-items: start; /* force start alignment */
  padding: 1rem 0;
}
