<section class="main-container fixed-top">
  <nav class="navbar nav-container navbar-expand-lg" [class.scrolled]="isScrolled">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <!-- Left side -->
      <div class="d-flex align-items-center">
        <span class="navbar-brand text-white me-4" routerLink="/home">prime video</span>

        @if (UserIsLogged){
        <!-- 🔽 Toggler for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa-solid fa-caret-down text-color"></i>
        </button>
        }
      </div>
      @if (UserIsLogged){
      <!-- 🔽 Collapsible nav links -->
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/home" routerLinkActive="nav-item-active">Home</a>
          <a class="nav-item nav-link" routerLink="/movies" routerLinkActive="nav-item-active">Movies</a>
          <a class="nav-item nav-link" routerLink="/series" routerLinkActive="nav-item-active">TV shows</a>
          <a class="nav-item nav-link" routerLink="/genres" routerLinkActive="nav-item-active">Genres</a>
          <a class="nav-item nav-link" routerLink="/watchlist" routerLinkActive="nav-item-active">My Stuff</a>
        </div>
      </div>

      <!-- Right side (search moved before genres) -->
      <div class="d-flex align-items-center">

        <!-- Dark/light mode -->
        <!-- <i class="fa-solid fa-sun sun"></i>
        <div class="custom-switch" [class.active]="isDarkMode" (click)="toggleTheme()">
          <div class="custom-switch">
            <div class="slider"></div>
          </div>
        </div>
        <i class="fa-solid fa-moon moon"></i> -->


        <!-- Search -->
        <div class="icon-wrapper mx-3" (click)="toggleSearch()" [class.active-search]="searchVisible">
          <i class="fas fa-search fa-lg text-color"></i>
        </div>

        <!-- Genres -->
        <div class="icon-wrapper genres-wrapper dropdown-trigger" #trigger (mouseenter)="onTriggerEnter()"
          (mouseleave)="onTriggerLeave()">
          <i class="fa-solid fa-bars text-color"></i>
        </div>

        <!-- Profile -->
        <div class="icon-wrapper profile-wrapper ms-3" #profileTrigger (mouseenter)="onProfileTriggerEnter()"
          (mouseleave)="onProfileTriggerLeave()">
          <img alt="Avatar" class="profile-img" src="/ProfilePlaceholder.jpg" />
        </div>

      </div>
      }
      @else {
      <!-- Profile -->
      <div class="icon-wrapper profile-wrapper ms-3" #profileTrigger (mouseenter)="onProfileTriggerEnter()"
        (mouseleave)="onProfileTriggerLeave()">
        <img alt="Avatar" class="profile-img" src="/ProfilePlaceholder2.jpg" />
      </div>
      }
    </div>
  </nav>

  <div class="childs-container">
    <div class="search-container">
      @if (searchVisible) {<app-navbar-search-bar #searchBarComp></app-navbar-search-bar>}
    </div>
    <div class="dropdown-container">
      <div class="move-to-right-container">
        @if (showDropdown) {
        <app-navbar-genre-dropdown (mouseenter)="onDropdownEnter()" (mouseleave)="onDropdownLeave()">
        </app-navbar-genre-dropdown>
        }
        @if (showProfileDropdown) {
        <app-navbar-profile-dropdown (mouseenter)="onProfileDropdownEnter()" (mouseleave)="onProfileDropdownLeave()">
        </app-navbar-profile-dropdown>
        }
      </div>
    </div>
  </div>


</section>
@if (searchVisible) {<div class="tranperant-layer"></div>}