<div class="movies-page-container">
  <!-- General Carousels -->
  
  <app-carousel title="Recommended Movies" [movies]="movies"></app-carousel>
  <app-carousel title="Latest Movies" [movies]="LatestMovies"></app-carousel>
    <app-expanded-carousel
    [title]="'Top Rated Movies'"
    [movies]="topRatedMovies"
  >
  </app-expanded-carousel>
  


  <!-- Dynamic Genre Carousels -->
  <ng-container *ngFor="let genre of genres">
    <app-carousel
      *ngIf="genreMoviesMap[genre.genreId]?.length"
      [title]="genre.name"
      [movies]="genreMoviesMap[genre.genreId]">
    </app-carousel>
  </ng-container>
</div>
