.genre-wrapper {
  min-height: 85vh;
  padding: 4.5rem 2rem 1rem 2rem;
  background-color: var(--background-color);
}

.genre-title {
  color: white;
  margin-bottom: 1rem;
}

.genre-grid {
  outline: red solid 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start; /* or center */
  padding: 1rem 0rem 15% 0rem;
  overflow: auto;
  margin: 0px auto;
}