/* Fullscreen layout */
.container-fluid {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100vw;
  min-height: 100vh;
  background-color: #0a0a0a;
}

/* Fixed shape box */
.genre-box {
  width: 19rem;                   /* fixed width */
  height: 10rem;                   /* fixed height */
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

