/* Container spacing */

.tab-container{
  margin: 0 2rem  ;
  display: flex;
  flex-direction: column;
}
.page-container {
  display: flex;
  flex-direction: column;
  padding-top: 4.3rem;
  gap: 1rem;
  background-color: var(--background-color);
}

/* Tab bar styles */
.tab-bar {
  border-radius: 15px;
   margin: 3vh 0 0 0;
  position: sticky;
  display: flex;
  background-color: var(--gray-color);
  padding-left: 2rem;
  height: 7vh;
  align-items: center; /* Align tabs to bottom for better underline alignment */
  gap: 2rem;
}

/* Individual tab */
.tab {
  padding-bottom: 0.5rem;
  position: relative;
  color: var(--text-color);
  cursor: pointer;
  font-weight: 600;
  font-size: var(--font-title);
  transition: color 0.3s;
}
.tab::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1.2px;
  background-color: currentColor;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}

/* 🔸 Fade in underline on hover */
.tab:hover::after {
  opacity: 1;
}

/* 🔹 Keep underline if selected */
.tab.active::after {
  opacity: 1;
}

/* Hover effect */
.tab:hover {
  color: #e2ded8;
}

/* Active tab */
.tab.active {
  color: #ffffff;
  font-weight: 600;
  
}

/* Active tab underline */
.tab.active::after {

  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: var(--text-color);
  border-radius: 2px;
  transition: width 0.3s, left 0.3s;
}
.related-slider{
    
    min-height: 60vh;
    padding-top: 0.5rem; 
    margin-bottom: 18rem;
}
.episode-list{
  margin: 0.5rem 0;
   min-height: 60vh;
}