/* saved data selection background and text color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgb(59, 59, 59) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.register-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 20px;
  color: var(--text-color);
}

.form-control {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--gray-color);
  color: var(--text-color);
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.form-control:focus {
  border-color: var(--text-color);
  box-shadow: 0 0 0 0.2rem rgba(213, 215, 216, 0.2);
}

label {
  color: var(--text-color);
}

.animate-fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}