<div class="home-container">
  <app-slide-show></app-slide-show>

  <app-carousel title="Recommended Movies" [movies]="movies"></app-carousel>
  <app-carousel title="Latest Movies" [movies]="LatestMovies"></app-carousel>
  <app-expanded-carousel [title]="'Top Rated Movies'" [movies]="topRatedMovies"></app-expanded-carousel>

  <div #afterTopRated class="defer-trigger" aria-hidden="true"></div>

  @defer (on timer(2000)) {
  @defer (on viewport(afterTopRated)) {
  <app-carousel title="Recommended Series" [movies]="series"></app-carousel>
  <app-carousel title="Latest Series" [movies]="LatestSeries"></app-carousel>
  <app-expanded-carousel [title]="'Top Rated Series'" [movies]="topRatedSeries"></app-expanded-carousel>

  @defer (on timer(2000)) {
  @for (genre of genres; track genre.genreId) {
  @if (genreItemsMap[genre.genreId] && genreItemsMap[genre.genreId].length > 0) {
  <app-carousel [title]="genre.name" [movies]="genreItemsMap[genre.genreId]"></app-carousel>
  }
  }
  }
  @placeholder {
  <app-loading-spinner></app-loading-spinner>
  }
  } @placeholder {
  <app-loading-spinner></app-loading-spinner>
  }} @placeholder {
  <app-loading-spinner></app-loading-spinner>
  }
</div>