/* Container background & border */
.footer-container{
  background-color: var(--footer-gray);
}

/* Font sizing */
.pv-footer {
  font-size: 0.875rem;
  font-weight: 400;
}

/* Logo sizing & spacing override */
.footer-logo {
  height: 35px;
  margin-bottom: 0.05rem !important;                                /* tighter than mb-1 default */
  /* filter: brightness(0) invert(0);                                        to make it black */
}

/* Nav-link styling */
.pv-footer .nav-link {
  color: #78ade9;
  font-size: 1rem;
  text-decoration: none;
}

.pv-footer .nav-link:hover {
  color: #9ec9fa;
 text-decoration: none
}

/* Tighten space under nav */
.pv-footer .nav {
  margin-bottom: 0.25rem !important;
}

/* Copyright color */
.pv-footer .nav-copyright {
  color: rgb(135, 149, 170);
  font-size: 14px;
}
